## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [158]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv',dtype=None)

df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [159]:
# View the column names in the data
df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [160]:
# Use the describe function to gather some basic statistics

df = df.astype({"order_id": str}, errors='raise')
df = df.astype({"qty": int}, errors='raise')

df.describe()

,client_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [161]:
# Use this space to do any additional research
# and familiarize yourself with the data.

# For the category with the most entries,
# which subcategory had the most entries?

# sum(df['qty'])

df.shape

(54639, 18)

In [162]:
# What three item categories had the most entries?
# consumables, furniture, software
df['category'].value_counts().head(3)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [163]:
# For the category with the most entries,
# which subcategory had the most entries?
is_consumable = df['category'] == 'consumables'
df.loc[is_consumable]['subcategory'].value_counts().head(1)

subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [164]:
# Which five clients had the most entries in the data?
df['client_id'].value_counts().head(5)

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [165]:
# Store the client ids of those top 5 clients in a list.
top_5_clients = list(df['client_id'].value_counts().head(5).keys())

top_5_clients

[33615, 66037, 46820, 38378, 24741]

In [166]:
# How many total units (the qty column) did the
# client with the most entries order order?
# 33615
most_entries = df[['client_id']] == top_5_clients[0]
top_client = df.loc[most_entries["client_id"],:]
sum(top_client['qty'])

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [167]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty

df.loc[:,'line_subtotal'] = df.apply(lambda x: x.qty * x.unit_price, axis=1)
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8,2743.29
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0,165.76
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5,3103.31

In [168]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.

def calc_shipping(row):
    pplb = 7
    if row.unit_weight * row.qty <= 50:
        pplb = 10
    
    return pplb * row.unit_weight * row.qty

df.loc[:,'shipping_price'] = df.apply(calc_shipping, axis=1)
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,shipping_price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,5512.50
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95,312.90
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28,458.64
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18,356.70
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00,6500.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8,2743.29,519.75
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,3849.30
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,13832.00
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0,165.76,14143.36
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5,3103.31,14939.19

In [169]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%

df.loc[:,'line_total_price'] = df.apply(lambda x: ( ( (x.line_subtotal+x.shipping_price) *.0925) + (x.line_subtotal+x.shipping_price) ), axis=1)
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,shipping_price,line_total_price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,5512.50,131839.076250
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,consumables,pens,24.95,15.09,1.49,21,0,523.95,312.90,914.258625
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,software,project management,13.52,7.86,1.68,39,6,527.28,458.64,1077.117600
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,consumables,pens,36.42,24.85,1.23,29,3,1056.18,356.70,1543.571400
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,consumables,misc,195.10,108.17,46.43,20,1,3902.00,6500.20,11364.403500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,software,logistics,83.13,51.60,2.25,33,8,2743.29,519.75,3564.871200
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,3849.30,14813.240275
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,13832.00,49184.896250
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,furniture,stands,1.48,1.22,18.04,112,0,165.76,14143.36,15632.713600
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,software,project management,3.01,1.61,2.07,1031,5,3103.31,14939.19,19711.431250

In [170]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).

df.loc[:,'line_cost'] = df.apply(lambda x: (x.qty*x.unit_cost) + x.shipping_price, axis=1)
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,shipping_price,line_total_price,line_cost
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,wall art,1096.80,762.71,7.50,105,1,115164.00,5512.50,131839.076250,85597.05
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,pens,24.95,15.09,1.49,21,0,523.95,312.90,914.258625,629.79
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,project management,13.52,7.86,1.68,39,6,527.28,458.64,1077.117600,765.18
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,pens,36.42,24.85,1.23,29,3,1056.18,356.70,1543.571400,1077.35
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,misc,195.10,108.17,46.43,20,1,3902.00,6500.20,11364.403500,8663.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,logistics,83.13,51.60,2.25,33,8,2743.29,519.75,3564.871200,2222.55
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,3849.30,14813.240275,12095.92
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,13832.00,49184.896250,41054.25
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,stands,1.48,1.22,18.04,112,0,165.76,14143.36,15632.713600,14280.00
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,project management,3.01,1.61,2.07,1031,5,3103.31,14939.19,19711.431250,16599.10

In [171]:
# Create a column for the profit of
# each line using line cost and line price

df.loc[:,'line_profit'] = df.apply(lambda x: x.line_total_price - x.line_cost, axis=1)
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,shipping_price,line_total_price,line_cost,line_profit
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,1096.80,762.71,7.50,105,1,115164.00,5512.50,131839.076250,85597.05,46242.026250
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,24.95,15.09,1.49,21,0,523.95,312.90,914.258625,629.79,284.468625
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,13.52,7.86,1.68,39,6,527.28,458.64,1077.117600,765.18,311.937600
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,36.42,24.85,1.23,29,3,1056.18,356.70,1543.571400,1077.35,466.221400
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,195.10,108.17,46.43,20,1,3902.00,6500.20,11364.403500,8663.60,2700.803500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,83.13,51.60,2.25,33,8,2743.29,519.75,3564.871200,2222.55,1342.321200
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,206.59,175.46,11.70,47,0,9709.73,3849.30,14813.240275,12095.92,2717.320275
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,65.66,57.31,4.16,475,6,31188.50,13832.00,49184.896250,41054.25,8130.646250
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,1.48,1.22,18.04,112,0,165.76,14143.36,15632.713600,14280.00,1352.713600
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,3.01,1.61,2.07,1031,5,3103.31,14939.19,19711.431250,16599.10,3112.331250

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [172]:
def format_currency(amount):
    return '${:,.2f}'.format(amount)
#then [some number].map(format_currency)

def format_currency_M(amount):
    return '${:,.2f}M'.format(amount/1000000)

In [173]:
# Check your work using the totals above
grouped_df = df.set_index('order_id')
grouped_df = df.set_index('order_id') \
    .loc[['2742071','2173913','6128929'],['line_total_price','line_profit']] \
    .groupby(by='order_id').sum() \
    ['line_total_price'].apply(format_currency)

#grouped_df.loc['2742071',['unit_price', 'unit_cost', 'unit_weight', 'qty', 'line_number', 'line_subtotal', 'shipping_price', 'line_total_price', 'line_cost', 'line_profit']]

#grouped_df.loc[['2742071','2173913','6128929'],'line_total_price'].sum()
grouped_df

#answer
# Order 2742071 total: $152,811.89
# Order 2173913 total: $162,388.71
# Order 6128929 total: $923,441.25

order_id
2173913    $162,388.72
2742071    $152,811.90
6128929    $923,441.24
Name: line_total_price, dtype: object

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [174]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.

#top_5_totals = top_5_clients.loc[:,['line_total_price','line_profit']].groupby(by='order_id').sum()

df.set_index('client_id') \
    .loc[top_5_clients,['line_total_price']] \
    .groupby(by='client_id').sum()['line_total_price'] \
    .apply(format_currency)

# answer:
# 33615: $8,377,308.52
# 66037: $10,259,514.79
# 46820: $9,743,794.36
# 38378: $12,906,550.87
# 24741: $82,268,892.02

client_id
24741    $82,268,891.98
33615     $8,377,308.57
38378    $12,906,550.88
46820     $9,743,794.32
66037    $10,259,514.80
Name: line_total_price, dtype: object

In [178]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.

summary_df = df.set_index('client_id') \
    .loc[top_5_clients,['qty','shipping_price','line_total_price','line_profit']] \
    .groupby(by='client_id') \
    .apply(lambda x: pd.Series( {'Total Quantity': x['qty'].sum() 
                                , "Total Shipping Price": pd.Series(x['shipping_price'].sum()).apply(format_currency_M).sum()
                                , "Total Price": pd.Series(x['line_total_price'].sum()).apply(format_currency_M).sum()
                                , "Total Profit": pd.Series(x['line_profit'].sum()).apply(format_currency_M).sum() })) \
                                .sort_values('Total Profit')
    

#summary_df['line_total_price'] = summary_df['line_total_price'].apply(format_currency)

summary_df

           Total Quantity Total Shipping Price Total Price Total Profit
client_id
33615               64313               $1.83M      $8.38M       $2.20M
46820               75768               $1.60M      $9.74M       $2.74M
66037               43018               $1.40M     $10.26M       $3.26M
38378               73667               $3.43M     $12.91M       $3.27M
24741              239862               $5.13M     $82.27M      $36.58M

In [185]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.

# df = df.rename(columns={'first': 'First Name', 'last': 'Last Name', 'job': 'Job', 'phone': 'Phone', 'email': 'Email'
#                     , "client_id": "Client ID", "qty": "Quantity", "shipping_price": "Shipping Price"
#                     , "line_price": "Line Price", "line_cost": "Line Cost", "line_profit": "Line Profit"
#                     , "order_id": "Order ID", "order_date": "Order Date", "order_week": "Order Week"
#                     , "order_year": "Order Year", 'item_id': 'Item Id', 'category': 'Category','subcategory': 'Sub-category'
#                     , 'unit_price': 'Unit Price', 'unit_cost': 'Unit Cost', 'unit_weight': 'Unit Weight'
#                     , 'line_number': 'Line Number', 'line_subtotal': 'Line Subtotal', 'line_total_price': "Line Total Price",})

# did most formatting above inline with aggregation functions
summary_df.index.name = 'Client ID'
summary_df.head()

           Total Quantity Total Shipping Price Total Price Total Profit
Client ID
33615               64313               $1.83M      $8.38M       $2.20M
46820               75768               $1.60M      $9.74M       $2.74M
66037               43018               $1.40M     $10.26M       $3.26M
38378               73667               $3.43M     $12.91M       $3.27M
24741              239862               $5.13M     $82.27M      $36.58M

In [187]:
# Sort the updated data by "Total Profit" from highest to lowest
summary_df.sort_values('Total Profit', ascending=False)

           Total Quantity Total Shipping Price Total Price Total Profit
Client ID
24741              239862               $5.13M     $82.27M      $36.58M
38378               73667               $3.43M     $12.91M       $3.27M
66037               43018               $1.40M     $10.26M       $3.26M
46820               75768               $1.60M      $9.74M       $2.74M
33615               64313               $1.83M      $8.38M       $2.20M